<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="homepage">
    <%- include('includes/header') %>
    <main>
        <!--<h1>Welcome to Bateman Music Suggestion Board</h1> -->
        <div class="mainp">
            <img src="/assets/main-paragraph.svg" alt="" class="mainp-image">
            <div class="mainp-title"><h2>SUGGEST MUSIC</h2></div>
            <div class="mainp-text"><p>YOUR GO TO PLATFORM FOR SHARING SUGGESTIONS! <br> SEND IN MUSIC THAT YOU ACTIVELY WANT TO PLAY IN CLASS</p></div>
        </div>
        <div class="secondary">
            <img src="/assets/main-paragraph.svg" alt="" class="mainp-image">
            <div class="mainp-title"><h2>FIND NEW MUSIC</h2></div>
            <div class="mainp-text"><p>SEE WHAT TYPE OF MUSIC YOUR CLASSMATES ARE INTERESTED IN</p></div>
        </div>
        <!-- <p>Please log in to access your dashboard and start contributing.</p> -->
    </main>

    <%- include('includes/footer') %>
</body>
</html>