.login {
    background-color: #90ED92; /* Or a color name like 'lightgray' */
    background-image: url('assets/background-grid.svg');
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    font-family: "Rubik", sans-serif;
}

.posts{
    background-color: #E3A018;
    font-family: "Rubik", sans-serif;
    text-align: center;
}

article{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 80%;
    border-radius: 30px;
    border-color: black;
    border-style: solid; /* A border style must also be defined */
     border-width: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: "Rubik", sans-serif;
}

.logbutton {
    background-color: #0d47a1;
    color: white;
    border-color: black;
    border-radius: 30px;
    border-style: solid;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

.logon{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    transform: scale(50%);

    text-align: center;
    padding: 5%;
    max-width: 50%;
    border-radius: 30px;
    border-color: black;
    border-style: solid; /* A border style must also be defined */
    border-width: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Rubik", sans-serif;
}

.create-post fieldset{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
    padding: 20%;
    max-width: 20%;
    max-height: 20%;
    border-radius: 30px;
    border-color: black;
    border-style: solid; /* A border style must also be defined */
    border-width: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: "Rubik", sans-serif;
}

.button {
    padding: 10px 20px;
    margin-top: 10px;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    color: black;
}

.deletebutton {
    background-color: #d52020;
    color: white;
    border-color: black;
    border-radius: 30px;
    border-style: solid;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    margin-bottom: 5%   ;
}

.create-post{
    background-color: #FDFD96;
}

.logon button{
    font-family: "Rubik", sans-serif;
    padding: 10px 20px;
    margin-top: 10px;
}

.logon label,input{
    font-family: "Rubik", sans-serif;
    padding: 10px;
    margin-top: 10px;
}

.homepage {
    background-color: #90ED92; /* Or a color name like 'lightgray' */
    background-image: url('assets/background-grid.svg');
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    font-family: "Rubik", sans-serif;
}

.dashboard {
    background-color: #69D2E7;
    /*background-image: url('assets/background-grid.svg');*/
    font-family: "Rubik", sans-serif;
    text-align: center;
}

.suggestions {
    background-color: #C4A1FF;
    /*background-image: url('assets/background-grid.svg');*/
    font-family: "Rubik", sans-serif;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.suggestions ul li{
    text-decoration: none;
    color: black;
    background-color: white;
    text-align: center;
    padding: 40px;
    max-width: 560px;
    border-radius: 30px;
    border-color: black;
    border-style: solid; /* A border style must also be defined */
     border-width: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: "Rubik", sans-serif;
}

ul {
    list-style-type: none;
}
body {
    font-family: "Rubik", sans-serif;
}

.header_title {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    color: black;
}

.header,footer{
    background-color: white;
    padding: 2%;
    text-align: center;
}

.header_nav {
    font-weight: normal;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    color:black;
    display: inline-block;
}

.header_nav:first-child {
    margin-left: 5%;
}

nav ul li h2{
  display: inline-block;
  margin-right: 5%;
}

.header_nav_signup{
    margin-left: 60px;
    background-image: url('assets/signup.svg');
    background-size: 150px 150px;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    color: black;
    font-weight: normal;
    padding: 40px 40px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh; /* or 100dvh for modern browsers */
}

main { /* Assuming your main content is within a <main> tag */
  flex-grow: 1;
}

.mainp{
    /* margin-left: 5%; */
    transform: scale(80%);

}

.mainp-text {
    right: 100px;
}

.mainp-text p{
    position: absolute;
    bottom: 80px;
    left: 60px;
    font-size: 30px;
}

.secondaryp-text p{
    position: absolute;
    bottom: 100px;
    left: 60px;
    font-size: 30px;
}

.secondary{
    margin-left: 15px;
    bottom: 150px;
    transform: scale(80%);
}

.secondary-text {
    position: absolute;
    bottom: 200px;
    right: 1150px;
    font-size: 30px;
}

.secondary-text p {
    position: absolute;
    bottom: 200px;
    right: 180px;
    font-size: 30px;
}

.mainp-title h2 {
    position: absolute;
    bottom: 315px;
    left: 64px;
    font-size: 40px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard li {
    text-decoration: none;
    color: black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10%;
    max-width: 90%;
    border-radius: 30px;
    border-color: black;
    border-style: solid; /* A border style must also be defined */
    border-width: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: "Rubik", sans-serif;
}

 .trumpet{
        position: absolute;
        
        left: 65%;
        top: 50%;
        transform: scale(300%) rotate(330deg);
    }

@media (max-width: 600px) {
    .mainp {
        /*  margin-right: 30%; */
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center;     /* Centers vertically */  
        transform: scale(50%);
    }   

    .secondary{
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center;     /* Centers vertically */  
        /* bottom: 150px; */
        /* margin-right: 30%; */
        transform: scale(50%);
    }

    .mainp-title h2 {
    position: absolute;
    bottom: 315px;
    left: 16px;
    font-size: 40px;
}

    .mainp-text p{
        position: absolute;
        bottom: 10px;
        right: 80px;
        font-size: 30px;
    }

    .secondaryp-text p{
        position: absolute;
        bottom: 100px;
        right: 20px;
        font-size: 30px;
    }

.dashboard li {
    text-decoration: none;
    color: black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10%;
    max-width: 50%;
    border-radius: 30px;
    border-color: black;
    border-style: solid; /* A border style must also be defined */
    border-width: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: "Rubik", sans-serif;
}

.video{
    width: 80%;
    height: 80%;
}

}